body {
    background-color: black;
    color: white;
}
header{
    font-size: 50px;
    text-align: center;
    font-family: "Danfo", serif;
}
.numero-um{
    display: flex;
    font-size: 25px;
    background-color: purple;
    padding: 30px;
    justify-content: center;
    margin-top: 20px;
}
.chamada-texto{
    padding-right: 5%;
}
img{
    width: 210px;
    height: 280px;
    opacity: 0.7;
}

img:hover{
    opacity: 1.0;
    border: solid 2px white;
}


.numero-dois{
    justify-content: center;
    margin-bottom: 80px;
    padding-bottom: 30px;

}

.outros{    
    justify-content: center;

}