body {
    background-color: black;
    color: white;
}
header{
    font-size: 50px;
    text-align: center;
    font-family: "Danfo", serif;
}
section{
    display: flex;
    font-size: 25px;
    background-color: yellow;
    padding: 30px;
    justify-content: center;
}
.chamada-texto{
    padding-right: 5%;
}