body {
    background-color: black;
    color: white;
}
header{
    font-size: 50px;
    text-align: center;
    font-family: "Danfo", serif;
}
section{
    display: flex;
    font-size: 25px;
    background-color: purple;
    padding: 30px;
    justify-content: center;
    margin-top: 20px;
}
.chamada-texto{
    padding-right: 5%;
}
img{
    width: 210px;
    height: 280px;
}

.numero-um{
    background-color: darkmagenta;


    padding: 30px;
    justify-content: center;
    margin: 30px;
}
.numero-dois{
justify-content: center;
margin-bottom: 80px;
padding-bottom: 30px;

}

.outros{

justify-content: center;



}